{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["wesbos"],
  "parserOptions": {},
  "plugins": ["react", "simple-import-sort"],
  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "no-empty": ["warn"],
    "quotes": ["warn", "double"],
    "no-magic-numbers": "warn",
    "camelcase": "warn",
    "spaced-comment": "warn",
    "complexity": ["warn", { "max": 10 }],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/order": ["warn"],
    "jsx-a11y/label-has-for": "off",
    "no-lonely-if": "warn",
    "object-shorthand": ["warn", "always"],
    "guard-for-in": "warn",
    "prefer-template": "warn",
    "lines-between-class-members": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "no-nested-ternary": "warn",
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "react/jsx-boolean-value": ["warn"],
    "react/button-has-type": "warn",
    "dot-notation": "warn",
    "no-var": "warn",
    "react/destructuring-assignment": "warn",
    "no-use-before-define": ["warn", { "functions": true, "classes": true }],
    "arrow-body-style": ["warn", "as-needed"],
    "import/no-useless-path-segments": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/no-cycle": "warn",
    "no-unneeded-ternary": "warn",
    "no-else-return": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-fragments": "warn",
    "react/self-closing-comp": "warn",
    "react/no-did-update-set-state": "warn",
    "react/sort-comp": "warn",
    "react/state-in-constructor": "warn",
    "no-restricted-syntax": [
      1,
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "jsx-a11y/no-static-element-interactions": [
      "warn",
      {
        "handlers": [
          "onClick",
          "onMouseDown",
          "onMouseUp",
          "onKeyPress",
          "onKeyDown",
          "onKeyUp"
        ]
      }
    ],
    "no-shadow": [
      "warn",
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "error"]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "warn",
      {
        "assert": "either"
      }
    ],
    "prefer-const": [
      "warn",
      {
        "destructuring": "all"
      }
    ],
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 150,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "useTabs": false,
        "endOfLine": "auto",
        "arrowParens": "avoid",
        "const": false
      }
    ]
  }
}
